<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="generatedClassPathList">
          <list>
            <option value="F:\IDEAProject\demo1\demo2\demo3\src\main\java\com\cen\demo\entity" />
          </list>
        </option>
      </ProjectProfile>
    </option>
  </component>
</project>